<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5288fb;"> 
    <div class="container-fluid">
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-brand" href="{{ url_for('auth.login') }}" > 
                <img src = "static/graphics/Caled-Logo.png" width="50px" style="padding: 5px;">
            </div>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}" class="nav-item nav-link" style="color: white;"> Login </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.signup') }}" class="nav-item nav-link" style="color: white;"> Sign Up </a>
                </li>
                {% endif %}

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.MainP') }}" class="nav-item nav-link" style="color: white;"> Main Page </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.courses') }}" class="nav-item nav-link" style="color: white;"> Courses </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.messages') }}" class="nav-item nav-link" style="color: white;"> Messages </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.calendar_events') }}" class="nav-item nav-link" style="color: white;"> Calendar </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.profile') }}" class="nav-item nav-link" style="color: white;"> Profile </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}" class="nav-item nav-link" style="color: white;"> Logout </a>
                </li>
                {% endif %}
            </ul>

            {% if current_user.is_authenticated %}
            <form class="form-inline my-1 my-lg-0" method="POST" action="/search">
                <input class="form-control mr-sm-2" type="search" name="Search" placeholder="Search" id="Search" aria-label="Search">
                
            </form>
            {% endif %}


        </div>
       
    </div> 
</nav>