{% extends "base.html" %}

{% block content %}

<div class="card-deck" style="padding-top: 10px;">
    <div class="card bg-light mb-3">
       
        <form class = "form-send" method="POST" action="/organizationUserAddition">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="name"> Name :</label>
                <input type ="userName"class="form-control" name="userName" id="userName" placeholder="John Doe">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1"> Email :</label>
                <input type="organization" class="form-control" id="userEmail" name="userEmail"  >
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Add User</button>
        </form>

    </div>
    
</div>




{% endblock %}