{% extends "base.html" %}

{% block content %}

<div class="card-deck" style="padding-top: 10px;">
    <div class="card bg-light mb-3">
        <div class="card-body">
        <h5 class="card-header mb-3">Organization: {{ orgInfo.name }}</h5>
        <h6 class="card-title">Administrator: {{orgInfo.admin}}</h6>
        <p class="card-text">Users: </p>
        {% for o in orgInfo.users %}
            <p class="card-text">{{ o[0] }}   -   {{ o[1] }}</p>
        {% endfor %}
        <form action="/organizationUserAddition" style="margin-top: 5px;">
            <a href="organizationUserAddition.html"><button type = "submit" name = "addOrganization" class="btn btn-primary custom" > Add User </button></a> 
        </form> 
        <form action="/organizationUserEdit" style="margin-top: 5px;">
            <a href="organizationUserEdit.html"><button type = "submit" name = "addOrganization" class="btn btn-primary custom" > Edit Users </button></a> 
        </form> 
        
        <form method = "POST" action = "/organizationPage" style="margin-top: 5px;">
            <button type="submit" name="deleteOrg" value={{ rerouteName }} class="btn btn-primary"> Delete Organization </button>
        </form>

        </div>
    </div>
    
</div>




{% endblock %}