{% extends "base.html" %}

{% block content %}

<div class="card-deck" style="padding-top: 10px;">
    <div class="card bg-light mb-3">
        <div class="card-body">
        <h5 class="card-header mb-3">Organization: {{ orgInfo.name }}</h5>
        <h6 class="card-title">Administrator: {{orgInfo.admin}}</h6>
        <p class="card-text">Users: </p>
        {% for o in orgInfo.userList %}
            <li class="card-text">{{o}}</li>
        {% endfor %}
        
        </div>
    </div>
    <form method = "POST" action = "/organizationUserAddition">
            <button type="submit" name="orgUserAdd" value= {{ organization }} class="btn btn-primary"> Add User </button>
    </form> 
    

   
</div>




{% endblock %}