<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Caled - Profile </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
    
    </style>
</head>


	{% block content %}
	{% include 'nav.html' %}
	<body class="bg-light">
		
		<main role="main" class="container">
			<div class="my-3 p-3 bg-white rounded box-shadow">
				<h6 class="border-bottom border-gray pb-2 mb-0">Profile</h6>
				<div class="card-deck" style="padding-top: 10px;">
					<div class="card bg-light mb-3">
						<div class="card-body">
						<h5 class="card-header mb-3">{{current['name']}}</h5>
						<p class="card-text">Email: {{current['email']}}</p>
						<p class="card-text">User Type : {{current['userType']}}</p>
						<p class="card-text">Organizations :</p> 
						{% for o in organizationNames %}
							<p class="card-text">{{o}}</p>
						{% endfor %}
						{% if current.userType == 'Admin' %}
							<form action="/organizations">
								<a href="organizations.html"><button type="submit" name="organizations" class="btn btn-primary custom"> View Organizations </button></a> 
							</form> 
						{% endif %}	
						</div>
					</div>
				</div>
			</div>
		</main>
		
		
	</body>
	{% endblock %}

</html>